.center-align {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin: 0 auto;
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
.form_login {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.buttons-login {
  padding: 15px 32px;
}