.word-spacing {
  word-spacing: 2px;
}

.listPosition {
  width: 100%;
}

.btn-float{
  float: right;
  height: 2px;
  text-align: center;
  line-height: 2px;
}

.text {
  text-align: left;
}

.inp-size {
  width: 75px;
  height: 30px;
}

.fit {
  font-size: large;
}

.btn-approve {
  background: #65C6BB;
  border-color: #65C6BB;
}

.btn-edit{
  background: #AEA8D3;
  border-color: #AEA8D3;
}

.btn-delete {
  background: #E26A6A;
  border-color: #E26A6A;
}

.btn-delete :hover {
  background: #E26A6A;
  border-color: #E26A6A;
}

.btn-delete :targer{
  background: #E26A6A;
  border-color: #E26A6A;
}
.btn-delete :focus {
  background: #E26A6A;
  border-color: #E26A6A;
}

.btn-delete {
  background: #E26A6A;
  border-color: #E26A6A;
}